{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Login | Gadget Soko Kenya</title>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
<div class="login-container">

    <div class="logo">
        <a href="{% url 'login' %}">
            <img src="{% static 'images/logo.png' %}">
        </a>
    </div>

    <p class="subtitle">Login to your account</p>

    <form method="POST">
        {% csrf_token %}

        <label>Select Login Type</label>
        <select name="role">
            <option value="client">Client</option>
            <option value="admin">Admin</option>
        </select>

        <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>
    </form>

</div>
</body>
</html>