{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{% static 'css/productdetail.css' %}">
</head>
<body>

<div class="section">

    <div class="product-detail">

        <!-- MAIN IMAGE -->
        <div class="product-images">
            <img id="mainImage" src="{{ product.image.url }}" alt="{{ product.name }}">
            
            <!-- EXTRA IMAGES -->
            <div class="thumbnail-container">
                {% for img in product.images.all %}
                    <img src="{{ img.image.url }}" onclick="changeImage(this)">
                {% endfor %}
            </div>
        </div>

        <!-- PRODUCT INFO -->
        <div class="product-info">
            <h1>{{ product.name }}</h1>

            <p><strong>Brand:</strong> {{ product.brand.name }}</p>

            <p class="price">
                KES {{ product.discounted_price }}
            </p>

            <h3>Specifications</h3>
            <p>{{ product.specifications }}</p>

            <a href="{% url 'add_to_cart' product.id %}">
                <button class="checkout-btn">Add to Cart</button>
            </a>
        </div>

    </div>

</div>

<script>
function changeImage(el) {
    document.getElementById("mainImage").src = el.src;
}
</script>

</body>
</html>